## Build output
**/bin/
**/obj/

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.slnLaunch.user

## Rider
.idea/

## Logs
**/logs/

## OS files
Thumbs.db
.DS_Store

## MAUI specific
**/Platforms/Android/Resources/Resource.designer.cs
